// Solarized
// https://ethanschoonover.com/solarized/
$base03:    #002b36
$base02:    #073642
$base01:    #586e75
$base00:    #657b83
$base0:     #839496
$base1:     #93a1a1
$base2:     #eee8d5
$base3:     #fdf6e3
$yellow:    #b58900
$orange:    #cb4b16
$red:       #dc322f
$magenta:   #d33682
$violet:    #6c71c4
$blue:      #268bd2
$cyan:      #2aa198
$green:     #859900

$container-size: 960px
$gap-size: 20px
$small-gap-size: floor(calc($gap-size / 2))
$num-columns: 2
$component-size: floor(calc(($container-size - calc($gap-size * ($num-columns - 1))) / $num-columns))

html
  background-color: $base3
  color: $base02
  font-family: "Inconsolata", monospace
  font-size: 1em
  
#container
  display: flex
  align-items: center
  justify-content: center

#controller
  display: grid
  grid-template-columns: repeat($num-columns, $component-size)
  grid-template-rows: auto
  grid-gap: $gap-size $gap-size

  .component
    display: grid
    grid-template-columns: 100%
    grid-gap: $small-gap-size 0px
    align-self: start

    .header
      background-color: $base2
      color: $base01
      font-weight: bold
      font-size: 1.5em
      text-align: center

    @mixin ctl($sizes, $parent-width, $gap-width, $depth)
      @each $size in $sizes
        .control#{$size}
          display: grid

          $gaps: $gap-width * $size
          grid-gap: $gap-width $gap-width

          $column-size: floor(calc(($parent-width - $gaps) / $size))
          grid-template-columns: repeat($size, $column-size)

          select
            width: floor(0.75 * $column-size)

          @if $depth > 0
            .subcontrol
              @include ctl($sizes, $column-size, 0px, $depth - 1)

    $control-sizes: (1, 2, 3, 4, 8, 16)
    @include ctl($control-sizes, $component-size, $small-gap-size, 1)

