$color_bg: #fdf6e3
$color_bg_highlight: #eee8d5
$color_fg_secondary: #93a1a1
$color_fg_primary: #657b83
$color_fg_em: #586e75

html
  background-color: $color_bg

  font-family: Hack, Courier
  font-size: 0.75em
  color: $color_fg_primary

  select
    width: 100%
    background-color: $color_bg_highlight
    font-family: Hack, Courier
    font-size: 0.9em
    color: $color_fg_primary

  button
    border: 1px solid $color_fg_em
    background-color: $color_fg_secondary
    font-family: Hack, Courier
    font-size: 0.9em
    color: $color_bg_highlight

  label
    font-weight: bold
    color: $color_fg_em

#controller
  display: grid
  grid-template-columns: 25% 25% 25% 25%

  .element
    padding: 1em

  h1
    background-color: $color_bg_highlight
    color: $color_fg_em
    text-align: center

  h2
    background-color: $color_bg_highlight
    color: $color_fg_em
    text-align: center

#header
  grid-column-start: 1
  grid-column-end: 5
  grid-row-start: 1
  grid-row-end: 2
  
#midi
  grid-column-start:1
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3

  .midi_connect
    display: grid
    grid-template-columns: 50% 50%

    button
      width: 50%

#blank
  grid-column-start: 3
  grid-column-end: 5
  grid-row-start: 2
  grid-row-end: 3

#parts
  grid-column-start: 1
  grid-column-end: 5
  grid-row-start: 3
  grid-row-end: 4

  display: grid    
  grid-template-columns: auto auto

  .part
    display: grid
    grid-template-columns: 100%
    grid-gap: 10px 0px

    .part_voice_selector
      display: grid
      grid-template-columns: 50% 50%


    .part_controls
      display: grid
      grid-template-columns: 33% 33% 34%
    
    .part_note_mode_options
      display: grid
      grid-template-columns: 50% 50%

