#controller
  display: grid
  grid-template-columns: 25% 25% 25% 25%

  .element
    padding: 1em

  h1
    text-align: center
    line-height: 0px

  h2
    text-align: center
    line-height: 0px

#header
  grid-column-start: 1
  grid-column-end: 5
  grid-row-start: 1
  grid-row-end: 2
  
#midi
  grid-column-start:1
  grid-column-end: 3
  grid-row-start: 2
  grid-row-end: 3

#blank
  grid-column-start: 3
  grid-column-end: 5
  grid-row-start: 2
  grid-row-end: 3

#parts
  grid-column-start: 1
  grid-column-end: 5
  grid-row-start: 3
  grid-row-end: 4

  display: grid    
  grid-template-columns: auto auto

  .part
    display: grid
    grid-template-columns: 100%
    grid-gap: 10px 0px

    .part_voice_selector
      display: grid
      grid-template-columns: 50% 50%

      select
        width: 100%

    .part_controls
      display: grid
      grid-template-columns: 33% 33% 34%
    
    .part_note_mode
      display: grid
      grid-template-columns: 50% 50%

      select
        width: 100%
