h2 MIDI Options
span Midi Status: 
  span#midi-status
br
label(for='midi-outputs') Midi Output: 
select#midi-outputs
  each output in outputs
    option(value=output)= output
button#midi-connect Connect to DGX-300
button#midi-test-note Test Note

