div.part_row
  label(for='part-' + id + '-category') Category
  br
  select.part-category(id='part-' + id + '-category') 
    - var cat = 0
    while cat < pgm_data.length
      option(value=cat selected=(cat == category))= pgm_data[cat++].name
div.part_row
  label(for='part-' + id + '-voice') Voice 
  br
  select.part-voice(id='part-' + id + '-voice')
    - var pgm = 0
    while pgm < pgm_data[category].voices.length
      option(value=pgm selected=(pgm == program))= pgm_data[category].voices[pgm++].name

