doctype html
html(lang='en')
  head
    title dgxtroll
    link(rel='stylesheet' href='dgx.css')
  body
    div#controller
      div#header
        h1 DGX conTROLLer
      div#parts
    script(type='text/javascript' src='jquery.min.js')
    script(type='text/javascript' src='controller.js')
