doctype html
html(lang='en')
  head
    title dgxtroll
    link(rel='stylesheet' href='style/dgx.css')
  body
    div#controller
      div#header
        h1 DGX conTROLLer
      div#midi
      div#parts
    script(type='text/javascript' src='scripts/jquery.min.js')
    script(type='text/javascript' src='scripts/renderer.js')
