doctype html
html(lang='en')
  head
    title dgxtroll
    link(rel='stylesheet' href='style/dgx.css')
  body
    div#controller
    script(type='text/javascript' src='scripts/jquery.min.js')
    script(type='text/javascript' src='scripts/renderer.js')
